CreateStorageAccount/provider.tf
terraform.exe
CreateStorageAccount/.terraform.lock.hcl
CreateStorageAccount/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.14.0/windows_amd64/terraform-provider-azurerm_v4.14.0_x5.exe
create-virtualnetwork/.terraform.lock.hcl
create-virtualnetwork/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.21.1/windows_amd64/terraform-provider-azurerm_v4.21.1_x5.exe
provider.tf
